p {
  font-family: Lato;
}

.original-image{
  background: url(../images/wholeoriginalimage.png) no-repeat;
  background-size: contain;
  height: 250px;
  width: 260px;
}
p{
  width: 260px;
}
.fixed-image{
  background: url(../images/bigimage.png) no-repeat;
  background-size: contain;
  height: 150px;
  width: 360px;
  position: absolute;
  left: 50%;
  bottom: 8%;
}
.components{
  position: absolute;
  right: 15px;
  width: 200px;
  border: 1px solid;
  padding: 12px;
}
.image1{
  background: url(../images/adjusterpipe.png) no-repeat;
  background-size: contain;
height: 70px;
}
.image2{
  background: url(../images/glass.png) no-repeat;
  background-size: contain;
height: 70px;
}
.image3{
  background: url(../images/scale.png) no-repeat;
  background-size: contain;
height: 70px;
}
.image4{
  background: url(../images/connectingpipe.png) no-repeat;
  background-size: contain;
height: 70px;
}
.image5{
  background: url(../images/measuringmachine.png) no-repeat;
  background-size: contain;
height: 70px;
}
.image6{
  background: url(../images/rod.png) no-repeat;
  background-size: contain;
height: 120px;
}
.image7{
  background: url(../images/attacher.png) no-repeat;
  background-size: contain;
height: 70px;
}
.image8{
  background: url(../images/circle.png) no-repeat;
  background-size: contain;
height: 70px;
}
