<div style="display: flex;">
 <div style="border: 1px solid;  border-radius: 12px;">   
<div class="original-image"></div>
<p>Create above experimental setup by dragging components</p>
</div>


<div class="components">
    <p>Below are the components for experimental setup</p>

    <div class="image1" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>
    <div class="image2" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>
    <div class="image3" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>
    <div class="image4" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>
    <div class="image5" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>
    <div class="image6" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>
    <div class="image7" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>
    <div class="image8" (cdkDragStarted)="handleDragStart($event)" cdkDrag></div>

</div></div>

<div class="fixed-image"></div>
